# Configuration file
config.py
__pycache__/*
*.pyc

# Miscellaneous files
*.pickle
*.log
borked.txt

# Temporary files (like test HTML files)
temp/*
temp.html

# Temporarily don't track data
data/*

# Binary files
bin/*

# R stuff
.Rhistory
